<header>
    <a href="/"><img src="https://www.petsure.com/wp-content/uploads/2023/08/cat-dog_hero_transparent_new.png.webp" alt="Cat and Dog Image"></a>
    <div class="title-header">
        <h1>Fearless Fur Friends</h1>
        <div id="date"></div>
    </div>
    <script src="date.js"></script>
</header>
