<div class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/find">Find a Dog/Cat</a></li>
        <li><a href="/dogcat">Dog and Cat Care</a></li>
        <li><a href="/give">Have a Pet to Give Away</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/create">Create an Account</a></li>
        <li><a href="/logout">Logout</a></li>

    </ul>
</div>
