<%- include('layout', {
    title: 'Browse Pets',
    body: `
    <div class="page">
        <h2>Browse</h2>
        <div class="container" id="browse-container">
        </div>
    </div>
    <script src="/browse.js"></script>
    `
}) %>
