<%- include('layout', {
    title: 'Contact Us',
    body: `
    <div class="page">
        <h2>Contact Us</h2>
        <div class="container" id="contact-container">
            <div class="card">
                <h3>François Martinez</h3>
                <p>40300308</p>
                <img id="contact-image" src="https://cdn-icons-png.flaticon.com/512/6557/6557838.png" alt="mail">
                <p><a href="mailto:f_m11638@live.concordia.ca">f_m11638@live.concordia.ca</a></p>
            </div>
        </div>
    </div>
    `
}) %>
