<%- include('layout', {
    title: 'Dog and Cat Care',
    body: `
    <div class="page">
        <h2>Dog and Cat Care</h2>
        <p>Good pet care ensures your furry friends are healthy, happy, and well-adjusted. Providing proper nutrition, exercise, and regular vet visits is crucial. Explore our resources for tips and guides to keep your pets thriving below.</p>
        <div class="container">
            <div class="card">
                <h4>Dog Care</h4>
                <p><a href="https://www.aspca.org/pet-care/dog-care/general-dog-care" target="_blank" rel="noreferrer noopener">General Dog Care (ASPCA)</a></p>
                <p><a href="https://www.akc.org/" target="_blank" rel="noreferrer noopener">Other resources for dog owners (AKC)</a></p> 
            </div>
            <div class="card">
                <h4>Cat Care</h4>
                <p><a href="https://www.aspca.org/pet-care/cat-care/general-cat-care" target="_blank" rel="noreferrer noopener">General Cat Care (ASPCA)</a></p>
                <p><a href="https://icatcare.org/advice/?per_page=12" target="_blank" rel="noreferrer noopener">Other resources for cat owners (ICatCare)</a></p>
            </div>
        </div>
    </div>
    `
}) %>
