
<%- include('layout', {
    body: `
    <div class="page">
        <h2>Welcome to Pet Adoption Service</h2>
        <p>We help you find a loving home for pets in need. Browse available pets, learn about dog and cat care, and find a pet that’s right for you!</p>
        <div class="container">
            <div class="card">
                <img class="home-image" src="https://static.vecteezy.com/system/resources/previews/042/654/713/non_2x/ai-generated-stern-ginger-cat-with-intense-gaze-free-png.png" alt="Adopt a Cat">
                <h3>Adopt a Cat</h3>
                <p>Find your purr-fect companion from our list of adorable cats ready for adoption.</p>
            </div>
            <div class="card">
                <img class="home-image" src="https://png.pngtree.com/png-vector/20230905/ourmid/pngtree-aggressive-dog-angry-png-image_9981979.png" alt="Adopt a Dog">
                <h3>Adopt a Dog</h3>
                <p>Discover your new best friend from our selection of lovable dogs.</p>
            </div>
        </div>
        <h3>Pet Care Tips</h3>
        <p>Learn how to take care of your new pet with our expert care tips and guides.</p>
    </div>
    `
}) %>
