<%- include('layout', {
    title: 'Logged Out',
    body: `
    <div class="page">
        <h2>You have been successfully logged out.</h2>
        <p>Thank you for using our service. We hope to see you again soon.</p>
        <a href="/">Return to Home</a>
    </div>
    `
}) %>
